<p id="notice"><%= notice %></p>

<p>In Fetchquery.html
<%=
    @qresults.each do |row|
	  puts row[0], "\n"
	end
%>
<!--< @student.id %>-->
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
