<h2>SQL Prompt</h2>
<!-- Method is http action -->
 
  <!--Text area for next query-->
  <%= form_tag(sqlcons_fetchquery_path, :method => "get") do %>
  <%= text_area_tag(:q,  "select * from courses",:size=>"30x6") %>
  <%= submit_tag("submit", :onclick=>"this") %>
  <% end %>
