<h1>welcome to trysql</h1>
<h3>BETA</h3>
<p>
<%= link_to "Students", students_path %>
<%= link_to "Teachers", teachers_path %>
<%= link_to "Courses", courses_path %>
</p>
<p><%= link_to "SQLprompt", sqlcons_path %></p>
