<h3>Tips</h3>
<!--This section is a "sidebar" to display helpful information -->
  <ul align="left">
	<li>Feel free to play around with each lesson. Try writing different queries before you advance.</li>
	<li>Click "Next Lesson" to move on.(Only available after you've written a successful query.)</li>
	<li>Hit TrySQL in upper left to navigate back to home page.</li>	
	<li>Reference the column/table names in the diagram below.</li> 
  </ul>
  <table align="center">
  <tr>
	<i>
	<th colspan="3"><i>students</i></td>
	<th colspan="3"><i>teachers</i></th>
	<th colspan="5"><i>courses</i></th>
	</i>
  </tr>
  <tr>
	  <th>id</th>
	  <th>fname</th>
	  <th>lname</th>
	  <th>id</th>
	  <th>fname</th>
	  <th>lname</th>
	  <th>id</th>
	  <th>dept</th>
	  <th>cnum</th>
	  <th>title</th>
	  <th>cdesc</th>
  </tr>
  </table>
  <br />
  <table align="center">
  <tr>
	<th colspan="6"><i>course_fcts</i></th>
  </tr>
  <tr>	
	<th>id</th>
	<th>year</th>
	<th>semester</th>
	<th>teacher_id</th>
	<th>course_id</th>
	<th>student_id</th>
  </tr>
  </table>
</div>
