<h3>Tips</h3>
<!--This section is a "sidebar" to display helpful information -->
  <ul align="left">
	<li>Feel free to play around with each lesson. Try writing different queries before you advance.</li>
	<li>Click "Next Lesson" to move on.(Only available after you've written a successful query.)</li>
	<li>Hit TrySQL in upper left to navigate back to home page.</li>	
	<li>Reference tables with their column names in the diagram below.</li> 
  </ul>
  <table align="center">
  <tr>
	<i>
	<th colspan="3"><i>students</i></td>
	<th colspan="3"><i>teachers</i></th>
	<th colspan="5"><i>courses</i></th>
	</i>
  </tr>
  <tr>
	  <td>id</td>
	  <td>fname</td>
	  <td>lname</td>
	  <td>id</td>
	  <td>fname</td>
	  <td>lname</td>
	  <td>id</td>
	  <td>dept</td>
	  <td>cnum</td>
	  <td>title</td>
	  <td>cdesc</td>
  </tr>
  </table>
  <br />
  <table align="center">
  <tr>
	<th colspan="6"><i>course_fcts</i></th>
  </tr>
  <tr>	
	<td>id</td>
	<td>year</td>
	<td>semester</td>
	<td>teacher_id</td>
	<td>course_id</td>
	<td>student_id</td>
  </tr>
  </table>
<br />
</div>
