<h3> Ch1-2 </h3>
<p> Look at that table structure, isn't it lovely? As you expect, the columns of the table run up/down, and the rows run left-right. Imagine each row as a data-object, and the column values of that row as attributes of that data.  In this table we are storing what a students name is, as well as their id number. Now we'll move on to another important aspect of querying.  Lets say we want to limit the data we return back.  For instance, pulling back all students whose id is less than 3.  Simply add a where clause like this "select * from students where id &#60 3" 
</p>
