<h3>Ch1-1 : The Select Statement</h3>
<p>
Below you will see the result set returned by the database.  When you right "select x from y" you are essentially telling the database to fetch you the x columns from the y table.  * is just a groovy way of saying "give me all columns".  You can also specify the columns you want returned, like "select id, name from students."
<br / > 
Look below to see the table structure. Each table consists of rows and columns. Rows run up-down, columns left-right. Imagine each row as an object, with certain attributes (columns).
</p>
