<h3>Ch3-4 : Update</h3>
<p>
Our remaining command to learn is the <code>update</code> statement.  If you wanted to alter a particular column value for a table, you could simply apply an update rather than deleting, then adding that row with the new value. 
Let's say we wanted to alter one of our course titles, we could use the following. 
<br / ><code>update courses set title = 'New style Spanish' where cnum = 126</code><br />
Now check the updated table. 
<br / ><code>select * from courses </code>
</p>
